header {
    background-color:#992129;
}

header img {
    margin-left: 10px;
    padding-top: 70px;
    float: left
}

header h1 {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    color: white;
    font-size: 75px;
}

nav ul {
    list-style: none;
}
nav li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: yellow;
    font-size: 40px;
}

main section img {
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 30px;
    
}

main {
    display: flex;
    justify-content: center;
}

section figcaption {
    width: 300px;
    margin-left: 20px;
    margin-top: 30px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#person-name {
    font-size: 50px;
    color: #992129;
    display: flex;
    justify-content: right;
    margin-right: 30px;
}