header {
    background-color:#992129;
    padding-bottom: 1px;
}

header img {
    margin-left: 10px;
    padding-top: 10px;
    float: left
}

header h1 {
    margin-left: 225px;
    padding-top: 30px;
    color: white
}

nav ul {
    list-style: none;
}
nav li a {
    margin-left: 250px;
    text-decoration: none;
    color: yellow;
}

main section img {
    margin-left: 10px;
}

main section :nth-child(1){
    float: left;
}